python/__pycache__
rust/target
rust/Cargo.lock
c/hash_c
benchmark/__pycache__
RESUMEN.md

benchmark/lib
benchmark/include
benchmark/.tmp
benchmark/results/analisis_vus_test
benchmark/results/analisis_20260608_131831
benchmark/results/analisis_20260608_145829